<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/my-fragments :: header-fragment"></head>
<body>
<div class="container mx-auto my-5 p-4" style="background: #fff; width: 70%;">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-login-tab" data-toggle="tab" href="#nav-login" role="tab"
               aria-controls="nav-login" aria-selected="false">Reset Password</a>

        </div>
    </nav>
    <div class="tab-content p-4" id="nav-tabContent">
        <div class="tab-pane fade  show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
            <!-- Reset Password -->
            <form id="registeration" th:action="@{'/updatePass'}" enctype="multipart/form-data" class="form-horizontal" method="post" autocomplete="off">

                <div class="newer-row form-label-group">
                    <input type="password" id="confirmpassword" class="form-control" placeholder="Password" required autofocus>
                </div>

                <div class="newer-row form-label-group">
                    <input type="password" th:name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>


                <input type="hidden" th:name="token" th:value="${user.resetToken}"/>

                <div class="newer-row">
                    <button class="btn btn-success btn-lg btn-block" type="submit">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/my-fragments :: footer-fragment"></div>
</body>
</html>
